body {
  position: relative;
  width: 1440px;
  height: 1080px;

  background: #ffffff;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.top-container {
  margin: 0;
  padding-left: 77px;
  padding-top: 40px;
  margin-bottom: 200px;
}

.title {
  font-family: 'Inconsolata';
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #333333;
}

.middle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 77px;
  margin-right: 119px;
}

.right-column-container {
  display: flex;
  padding-left: 119px;
  flex-direction: column;
}

.right-column-title {
  font-size: 64px;
  font-family: Space Mono;
  font-weight: bold;
  line-height: 95px;
  letter-spacing: -0.035em;
  font-style: normal;
  color: #333333;
  margin-bottom: 6%;
}

.right-column-subtitle {
  width: 65%;
  margin-bottom: 11%;
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
}

.btn {
  padding: 3%;
  width: 37%;
  background: #333333;
  color: #ffffff;

  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
}

.copyright {
  position: absolute;
  width: 226px;
  height: 17px;
  left: 607px;
  top: 1024px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}
